body, div, h1, h2, h3, h4, h5 h6 p {
	margin: 0;
	padding: 0;
}

body {
	font: 13px/1.231 serif;
	font-family: Georgia;
	font-weight: normal;
	color: #444;
	text-align: center;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 3px;
	top: 0px;
	color: #8FBC8F;
	vertical-align:text-top;
	line-height: normal;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 150%;
	color: #556B2F;
}

h3 {
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	font-size:95%;
	line-height: normal;

}

h4 {
	text-align: left;
	top: 0px;
	font-size: 83%;
	line-height: normal;

}

h5 {
	text-align: right;
	top: 6px;
	position: relative;
	vertical-align:text-top;
}

h6 {
	line-height: normal;
	top: 0px;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}

tr {
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-top: 1px;
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 15px;
}